{{ define "main" }}
<main>
  <h1 class="title">{{ .Title }}</h1>

  {{ $pages := where .Site.RegularPages "Type" "projects" }}

  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}

  {{ $description := .Content }}

  <section class="project-item">

    <a href="{{ .Params.link }}">

      {{ if .Params.cover }}
      <img src="{{ (.Resources.GetMatch .Params.Cover).RelPermalink }}" alt="{{ $description }}" />
      {{ end }}

      <h1>
        {{.Title }}
      </h1>

      {{ $description }}
    </a>
  </section>
  {{ end }}

</main>
{{ end }}