
body > header {
  background-color:  #313131;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: inherit;

  > * {
    grid-column: 2;
  }

  padding-top: 0.7em;
  border-bottom: 1px solid #606060;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.left-col {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  grid-column: 2;
}

.logo {
  padding-right: 0.8em;
  padding-bottom: 0.2em;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.gradient {
  height: 7px;
  // background: linear-gradient(
  //   to right,
  //   #fb4934 0% 20%, 
  //   #b8bb26 20% 40%,
  //   #fabd2f 40% 60%,
  //   #83a598 60% 80%,
  //   #d3869b 80% 100%
  // );
  background: linear-gradient(
    to right,
    #cc241d 0% 20%, 
    #98971a 20% 40%,
    #d79921 40% 60%,
    #458588 60% 80%,
    #689d6a 80% 100%
  );
}

nav > a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding-left: 0.5em;

  &:hover {
    font-weight: bold;
  }

  &.active {
    font-weight: bold;
  }
}