body>header {
  background-color: #313131;

  padding-top: 0.7em;
  border-bottom: 1px solid #606060;
}

.header-content {
  margin-inline: auto;
  max-width: calc(min(70ch, 90%));
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.left-col {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  grid-column: 2;
}

.logo {
  padding-right: 0.8em;
  padding-bottom: 0.2em;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.gradient {
  height: 7px;
  background: linear-gradient(to right,
      #cc241d 0% 20%,
      #98971a 20% 40%,
      #d79921 40% 60%,
      #458588 60% 80%,
      #689d6a 80% 100%);
}

nav {
  a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.4em;

    &:hover,
    &.active {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 430px) {
  .header-content {
    flex-direction: column;
  }

  nav {
    border-top: 1px solid #5d5d5d;
    display: flex;
    width: 100%;
    justify-content: space-around;

    >a {
      padding: 1rem;
    }
  }
}