
.title {
  text-align: center;
}

main {
  a {
    color: #fe8019;

    &:visited {
      color: #fabd2f;
    }
  }

  p {
    word-wrap: break-word;

    code {
      color: #fe8019;
      padding: 0 0.4em;
    }
  }
}

blockquote {
  color: #ebebeb;
  border: 2px solid #4e4e4e;
  background-color: #252522;
  padding: 0.5rem 1rem;
  margin-bottom: 3em;
  margin-top: 3em;
}