{{ define "main" }}

<main>
  <h1 class="title">{{ .Title }}</h1>
  <div class="dates">
    {{ $date := .Date.Format "02.01.2006" }}
    <span class="date">
      Published {{ $date }}
    </span>

    {{ with .Page.Lastmod }}
    {{ $lastMod := .Format "02.01.2006" }}
    {{ if ne $date $lastMod }}
    <span class="date">
      • Last modified {{ $lastMod }}
    </span>
    {{ end }}
    {{ end }}
    {{/* If current post has a lang param, get the LanguageName
            "fi" -> "Finnish"  
    */}}
    {{ range where .Site.Languages "LanguageCode" "eq" .Params.lang }}
    <p>Language: {{ .LanguageName }}</p>
    {{ end }}
  </div>
  {{ .Content }}
</main>

{{ end }}