{{ define "main" }}

<main>
  <h1 class="title" style="view-transition-name: post-title-{{ replace .File.ContentBaseName "." "-" }}">{{ .Title }}</h1>
  <div class="dates">
    {{ with .Page.Draft }}
      <span class="red">Draft</span>
    {{ end }}
    {{ $date := .Date.Format "02.01.2006" }}
    <span class="date">
      Published {{ $date }}
    </span>

    {{ with .Page.Lastmod }}
    {{ $lastMod := .Format "02.01.2006" }}
    {{ if ne $date $lastMod }}
    <span class="date">
      • Last modified {{ $lastMod }}
    </span>
    {{ end }}
    {{ end }}
    {{/* If current post has a lang param, get the LanguageName
            "fi" -> "Finnish"  
    */}}
    {{ range where .Site.Languages "LanguageCode" "eq" .Params.locale }}
    <p>Language: {{ .LanguageName }}</p>
    {{ end }}
  </div>
  {{ .Content }}
</main>

{{ end }}