body>header {
  background-color: #313131;

  padding-top: 0.7em;
  border-bottom: 1px solid #606060;
}

.header-content {
  margin-inline: auto;
  max-width: calc(min(70ch, 90%));
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.left-col {
  display: flex;
  flex-direction: column;

  &:hover .gradient {
    animation: gradient-scroll 0.5s;
  }
}

.logo {
  padding-right: 0.8em;
  padding-bottom: 0.2em;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

nav {
  a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.4em;

    &:hover,
    &.active {
      font-weight: 600;
    }
  }
}

$color1: #cc241d;
$color2: #d65d0e;
$color3: #d79921;
$color4: #98971a;
$color5: #458588;

.gradient {
  height: 7px;

  background-image: repeating-linear-gradient(to right,
      $color1 0% 20%,
      $color2 20% 40%,
      $color3 40% 60%,
      $color4 60% 80%,
      $color5 80% 100%);
}

@keyframes gradient-scroll {
  10% {
    background-image: repeating-linear-gradient(to right,
        $color1 0% 20%,
        $color2 20% 40%,
        $color3 40% 60%,
        $color4 60% 80%,
        $color5 80% 100%);
  }

  20% {
    background-image: repeating-linear-gradient(to right,
        $color5 0% 20%,
        $color1 20% 40%,
        $color2 40% 60%,
        $color3 60% 80%,
        $color4 80% 100%);
  }

  40% {
    background-image: repeating-linear-gradient(to right,
        $color4 0% 20%,
        $color5 20% 40%,
        $color1 40% 60%,
        $color2 60% 80%,
        $color3 80% 100%);
  }

  60% {
    background-image: repeating-linear-gradient(to right,
        $color3 0% 20%,
        $color4 20% 40%,
        $color5 40% 60%,
        $color1 60% 80%,
        $color2 80% 100%);
  }

  80% {
    background-image: repeating-linear-gradient(to right,
        $color2 0% 20%,
        $color3 20% 40%,
        $color4 40% 60%,
        $color5 60% 80%,
        $color1 80% 100%);
  }

  100% {
    background-image: repeating-linear-gradient(to right,
        $color1 0% 20%,
        $color2 20% 40%,
        $color3 40% 60%,
        $color4 60% 80%,
        $color5 80% 100%);
  }
}

@media only screen and (max-width: 430px) {
  .header-content {
    flex-direction: column;
  }

  nav {
    border-top: 1px solid #5d5d5d;
    display: flex;
    width: 100%;
    justify-content: space-around;

    >a {
      padding: 1rem;
    }
  }
}