@import "code.scss";
@import "header.scss";
@import "footer.scss";
@import "posts.scss";
@import "syntax.scss";
@import "projects-page.scss";
@import "typography.scss";
@import "shortcode.scss";

:root {
  color-scheme: dark;
  font-family: "Inter", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
}

.title {
  text-align: center;
  margin-inline: auto;
}

main {
  max-width: calc(min(70ch, 90%));
  margin-inline: auto;

  h1,
  h2,
  h3,
  h4 {

    // hide anchors on h1-h4
    >:last-child {
      // last child will be the anchor
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    &:hover>a {
      display: inline;

      &:hover {
        color: #fbcb5a;
      }
    }
  }

  li {
    margin: 0.75em auto;
  }

  a {
    color: #fabd2f;
    word-wrap: break-word;

    &:visited {
      color: #d79921;
    }
  }
}

@supports(font-variation-settings: normal) {
  main a {
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.2s ease;

    &:hover {
      font-variation-settings: "wght" 550;
    }
  }
}

@media(prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
  }
}