.title {
  text-align: center;
}

main {
  max-width: calc(min(70ch, 90%));
  margin-inline: auto;

  h1,
  h2,
  h3,
  h4 { // hide anchors on h1-4
    >:last-child {
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    &:hover>a {
      display: inline;

      &:hover {
        color: #fbcb5a;
      }
    }
  }

  a {
    color: #fabd2f;
    word-wrap: break-word;

    &:visited {
      color: #d79921;
    }
  }

  p {
    word-wrap: break-word;
  }

  li {
    margin: 0.75em auto;
  }

  h3, h4 {
    font-weight: 600;
  }

  blockquote {
    color: #ebebeb;
    border-left: 5px solid #d79921;
    background-color: #2a2a2a;
    padding: 0.5rem 1rem;
    margin: 3rem 2rem;

    >blockquote {
      margin: 0;
      border-left: 3px solid #ad7d1b
    }
  }
}