.project-item {

  padding: 1em 1em;

  h1 {
    margin: 0.5em 0;
    color: var(--accent);

  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  background-color: var(--card);
  margin-bottom: 2em;

  box-shadow: var(--shadow) 3px 3px 2px 1px;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .gh-logo {
    width: 30px;
    height: 30px;
    color: initial;
    transition: transform 0.25s ease-in-out;
    margin: 1em;

    &:hover {
      transform: scale(1.1);
    }
  }
}