.project-item {
  display: inline-block;
  width: 100%;

  padding: 1em 1em;

  h2 {
    margin: 0.5em 0;
    color: #ffb813;
  }

  p {
    margin: 0;
    color: white;
  }

  a {
    text-decoration: none;
  }

  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  background-color: #262626;
  margin-bottom: 2em;

  box-shadow: 3px 3px 3px rgb(22, 22, 22);
  border-radius: 10px;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .gh-logo {
    width: 40px;
    height: 40px;
    color: white;
    display: grid;
    place-items: center end;
    >svg {
      transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}