img, svg {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.katex-display {
  padding: 1em 0;
  background-color: #252525;
  border-radius: 10px;
}

blockquote {
  border-left: 5px solid #d79921;
  background-color: #2a2a2a;
  border-radius: 0 10px 10px 0;
  padding: 0.5rem 1rem;
  margin: 2rem 1rem;

  p {
    margin: 0.5em auto;
  }

  >blockquote {
    margin: 0;
    border-left: 3px solid #ad7d1b
  }
}

kbd {
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  padding: 3px 6px;
  margin-bottom: 0.4em;
  font-weight: 500;
  font-size: 0.8em;
  font-family: "Jetbrains Mono", monospace;
  box-shadow: 2px 2px #2a2a2a;
  transition: transform 250ms, box-shadow 250ms;
  display: inline-block;
  cursor: default;
  
  &:hover {
    box-shadow: 0px 0px #2a2a2a;
    transform: translateY(2px);
  }
}

figure {
  margin-inline: 0;

  >p {
    margin-bottom: 0.5em;
  }
}

figcaption {
  margin-left: 1em;
  color: #bdbdbd;
}

.error-message code {
  color: #fb4934;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #252525;
  padding: 1em;
  border-radius: 20px;
  text-decoration: none;

  svg {
    margin-right: 0.5em;
    width: 32px;
    color: white;
  }
}