.katex-display {
  padding: 1em 0;
  background-color: #252525;
  border-radius: 10px;
}

kbd {
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  padding: 3px 6px;
  margin-bottom: 0.4em;
  font-weight: 500;
  font-size: 0.8em;
  font-family: "JetBrains Mono", monospace;
  box-shadow: 2px 2px #2a2a2a;
  transition: transform 250ms, box-shadow 250ms;
  display: inline-block;
  cursor: default;
  
  &:hover {
    box-shadow: 0px 0px #2a2a2a;
    transform: translateY(2px);
  }
}

figure {
  margin: 1em 0;

  >p {
    margin-bottom: 0.5em;
  }
}

figcaption {
  margin-left: 1em;
  text-align: center;
  color: #bdbdbd;
}

.error-message code {
  color: #fb4934;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #252525;
  padding: 1em;
  border-radius: 20px;
  text-decoration: none;

  svg {
    margin-right: 0.5em;
    width: 24px;
    color: #a5a5a5;
  }
}

.speedcrunch pre {
  margin: 0;
  box-shadow: none;
  padding: 5px;
  font-family: var(--font-mono);
}