@import "markdown.scss";
@import "header.scss";
@import "footer.scss";
@import "home-page.scss";
@import "syntax.scss";
@import "projects-page.scss";
@import "typography.scss";
@import "shortcode.scss";

:root {
  color-scheme: dark;

  --accent: #fabd2f;
  --accent-darker: #d4a027;
  --text-color: #e8e8e8;

  --font-sans-serif: "Inter", "Inter-fallback", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New", monospace;
}

body {
  font-family: var(--font-sans-serif);
}

code {
  font-family: var(--font-mono);
  background-color: #2e2e2e;
  padding: 0.1em 0.3em;
  margin: 0.1em 0;
  display: inline-block;
  border-radius: 7px;
  font-size: 0.9em;

  /* word-break: break-all; */
}

pre code {
  display: initial;
  color: var(--accent);
  background-color: initial;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  tab-size: 4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: var(--text-color);
}

.title {
  text-align: center;
  text-wrap: balance;
}

main {
  max-width: calc(min(70ch, 90%));
  margin: 0 auto;

  // hide anchors on h1-h4
  h1,
  h2,
  h3,
  h4 {

    // last child will be the anchor
    >:last-child {
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    &:hover>a {
      display: inline;
    }
  }

  li {
    margin: 0.75em auto;
  }

  a {
    color: var(--accent);
    word-wrap: break-word;

    &:visited {
      color: var(--accent-darker);
    }
  }

  .dates {
    margin-top: 3em;
    color: #A5A5A5;
  }
}

@supports(font-variation-settings: normal) {
  main a {
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.2s ease;

    &:hover {
      font-variation-settings: "wght" 550;
    }
  }
}

@media(prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
  }
}