@import "code.scss";
@import "header.scss";
@import "footer.scss";
@import "posts.scss";
@import "syntax.scss";
@import "projects-page.scss";
@import "typography.scss";
@import "shortcode.scss";

:root {
  color-scheme: light dark;
  font-family: "Inter", system-ui, sans-serif;

  --accent: #fabd2f;
  --accent-darker: #d4a027;

  --background: #1e1e1e;
  --hover-background: #2a2a2ac1;
  --card: #2a2a2a;
  --shadow: #1b1b1b 1px 1px 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --hover-background: #e9e8e5;
    --card: #fafafa;

    --accent: #076678;
    --accent-darker: #458588;
    --shadow: #e7e7e7 1px 1px 5px inset;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
}

.title {
  text-align: center;
  margin-inline: auto;
}

main {
  max-width: calc(min(70ch, 90%));
  margin-inline: auto;

  // hide anchors on h1-h4
  h1,
  h2,
  h3,
  h4 {

    // last child will be the anchor
    >:last-child {
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    &:hover>a {
      display: inline;
    }
  }

  li {
    margin: 0.75em auto;
  }

  a {
    color: var(--accent);
    word-wrap: break-word;

    &:visited {
      color: var(--accent-darker);
    }
  }
}

@supports(font-variation-settings: normal) {
  main a {
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.2s ease;

    &:hover {
      font-variation-settings: "wght" 550;
    }
  }
}

@media(prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
  }
}