@import "markdown.scss";
@import "header.scss";
@import "footer.scss";
@import "posts-page.scss";
@import "syntax.scss";
@import "projects-page.scss";
@import "typography.scss";
@import "shortcode.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: var(--text-color);
}

.title {
  text-align: center;
  margin: inherit auto;
}

main {
  max-width: calc(min(70ch, 90%));
  margin: 0 auto;

  // hide anchors on h1-h4
  h1,
  h2,
  h3,
  h4 {

    // last child will be the anchor
    >:last-child {
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    &:hover>a {
      display: inline;
    }
  }

  li {
    margin: 0.75em auto;
  }

  a {
    color: var(--accent);
    word-wrap: break-word;

    &:visited {
      color: var(--accent-darker);
    }
  }

  .dates {
    margin-top: 3em;
    text-align: end;
    color: #A5A5A5;
  }
}

@supports(font-variation-settings: normal) {
  main a {
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.2s ease;

    &:hover {
      font-variation-settings: "wght" 550;
    }
  }
}

@media(prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
  }
}