{{ define "main" }}

<main>
  <h1 class="title">Recent posts</h1>

  <div class="year-list">

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate ($pages.GroupByDate "2006") }}

    {{ range $paginator.PageGroups }}
    <h1>
      {{ (index .Pages 0).Date.Format "2006" }}
    </h1>

    <ul class="posts-list">
      {{ range .Pages }}

      <li class="posts-list-item">
        <a href="{{.Permalink}}">
          {{ .Title }}
        </a>
        <span>
          {{ .Date.Format "January 2" }}
        </span>
      </li>

      {{ end }}
    </ul>


    {{ end }}
  </div>

</main>
{{ end }}