{{ define "main" }}

<main>

  <div class="intro-text">
    {{ .Content }}
  </div>

  <h1 class="title">All blog posts</h1>

  <div class="year-list">
    {{ $pages := where .Site.RegularPages "Type" "posts" }}

    {{ range $pages.GroupByDate "2006" }}
      <h1>{{ .Key }}</h1>

      <ul class="posts-list">
        {{ range .Pages }}
      
        <li class="posts-list-item">
          <a href="{{.Permalink}}" style="view-transition-name: post-title-{{ .File.ContentBaseName }}"> {{ .Title }} </a>
          <span> {{ .Date.Format "January 2" }} </span>
        </li>
      
        {{ end }}
      </ul>

    {{ end }}
  </div>
</main>
{{ end }}
